.bg-lila {
    background-color: #c3aed4;
}

.bg-crema {
    background-color: #faefda;
}

.bg-cafe {
    background-color: #794f41;
}

.text-lila {
    color: #c3aed4;
}

.text-crema {
    color: #faefda;
}

.text-cafe {
    color: #794f41;
}

.btn-lila:hover {
    color: #fff;
    background-color: #a583c0;
    border-color: #a583c0;
}

.btn-lila {
    color: #ffffff;
    background-color: #c3aed4;
    border-color: #c3aed4;
}

.btn-cafe:hover {
    color: #794f41;
    background-color: #c3aed4;
    border-color: #c3aed4;
}

.btn-cafe {
    color: #ffffff;
    background-color: #794f41;
    border-color: #794f41;
}

.btn-outline-cafe {
    --bs-btn-color: #794f41;
    --bs-btn-border-color: #794f41;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c3aed4;
    --bs-btn-hover-border-color: #c3aed4;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #794f41;
    --bs-btn-active-border-color: #794f41;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #794f41;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #794f41;
    --bs-gradient: none;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}
