.bg-lila {
    background-color: #c3aed4 ;
}

.bg-crema {
    background-color: #faefda ;
}

.bg-cafe {
    background-color: #794f41 ;
}

.text-lila {
    color: #c3aed4 ;
}

.text-crema {
    color: #faefda ;
}

.text-cafe {
    color: #794f41 ;
}